.App {
  height: 100vh;
}

.homepage {
  width: 50%;
  height: 70vh;
  background-color: #91c8e4;
}

.search-bar {
  width: 12rem;
  height: 1.5rem;
}

.status-container {
  width: 95%;
  height: 120px;
}

.status-left {
  width: 60%;
  background-color: #91c8e4;
  height: 100px;
}

.status-right {
  width: 40%;
  background-color: #91c8e4;
  height: 100px;
}

.days {
  width: 95%;
  height: 150px;
}
